<!DOCTYPE html>
<html>
<head>
    <title>CouchClicker</title>
    <link rel="stylesheet" href="/global.css">
    <link rel="icon" href="/favicon.ico">
    {{{__head}}}
</head>
<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>