{{#headContents}}
    <style>

    </style>
{{/headContents}}

{{>navbar}}
<div class="container">
    <h1 class="title">Welcome to CouchClicker!</h1>
    <h2 style="text-align: center;">Search Movies, TV Shows, and more!</h2>
    {{>searchbar}}
    <center>
    <h3>Search among the most popular streaming services!</h3>
    <div class="grid">
        <img class="card" src="/Netflix_Logo.svg" />
        <img class="card" src="/Hulu_Logo.svg" />
        <img class="card" src="/Disney+_Logo.svg" />
        <img class="card" src="/Amazon_Prime_Video_Logo.svg" />
        <img class="card" src="/HBO_Max_Logo.svg" />
    </div>
    </center>
</div>