{{#headContents}}
    <style>/*TODO*/</style>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{{/headContents}}

<div class="container">
<div class="main">
    <img width="200rem" src="/logo.svg" \>
    <div class="title">CouchClicker</div>
    
    <div class="description">Your one stop for all your streaming needs</div>
    
    <div id="g_id_onload"
     data-client_id="{{clientID}}"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="{{authCallback}}"
     data-auto_prompt="false">
    </div>
    <div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
    </div>

    <button class="btn btn-outline-success" style="margin: 0.5rem;" onclick="signInAsGuest()">
        Sign In As Guest
    </button>
</div>
</div>
<script>
    function signInAsGuest() {
        document.cookie = "token=guest;expires=3600000;path=/";
        window.location.href = "/home";
    }
</script>